@import "../../shared-styles/mixins";
@import "../../shared-styles/variables";

.list {
  background-color: #fff;

  & .listItemContainer {
    overflow-y: auto;
  }
}

.listItem {
  @include f2_light;
  font-size: 1em;

  display: block;
  padding: 0 1em;
  height: 2.5em;
  line-height: 2.5em;

  color: $c_dark;
  border-top: 0.06em solid $c_gray_lightest;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(.disabled):hover {
    background-color: $client_middle_grey;
    cursor: pointer;
  }

  &:not(.disabled).selected {
    color: $c_main_1;
  }
}